<div style="text-align: center">
	<a href="http://www.webarchiv.cz/files/vydavatele/certifikat.html"
	   onclick="return !window.open(this, 'kod', 'toolbar=no, menubar=no, directories=no, resizable=yes, status=no, , , top=200, left=50')">
		<img title="STRÁNKY ARCHIVOVÁNY NÁRODNÍ KNIHOVNOU ČR" style="border:none; margin-top: 10px;"
			oncontextmenu="return false"
			src="https://blog.novoj.net/files/webarchiv_certifikat_cb_inverse.gif" width="150" height="150"></a>
</div>
<div style="text-align: center; margin-top: 1em;">
	<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
		<img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png"/>
	</a>
	<br/>Toto dílo podléhá licenci <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Uveďte
	původ - Zachovejte licenci 4.0 Mezinárodní License</a>.
</div>