{{- if .Params.comments }}
<section class="comments">
	<h3>{{ T "post_comments" }}</h3>
	{{- range sort .Params.comments "date" "desc" }}
		<div>
			<span class="comment_author">{{ .author }}</span>
			<span class="comment_time">
				<svg class="meta__icon icon icon-time" width="10" height="10" viewBox="0 0 16 16"><path d="m8-.0000003c-4.4 0-8 3.6-8 8 0 4.4000003 3.6 8.0000003 8 8.0000003 4.4 0 8-3.6 8-8.0000003 0-4.4-3.6-8-8-8zm0 14.4000003c-3.52 0-6.4-2.88-6.4-6.4000003 0-3.52 2.88-6.4 6.4-6.4 3.52 0 6.4 2.88 6.4 6.4 0 3.5200003-2.88 6.4000003-6.4 6.4000003zm.4-10.4000003h-1.2v4.8l4.16 2.5600003.64-1.04-3.6-2.1600003z"/></svg>
				<time class="meta__text" datetime="{{ dateFormat "2006-01-02T15:04:05" .date }}">{{ dateFormat "2.1.2006 15:04" .date }}</time>
			</span>
			<blockquote class="comment_content">{{ markdownify ( emojify ( .content ) ) }}</blockquote>
		</div>
	{{- end }}
</section>
{{- end }}