<a href="http://www.fg.cz/gameofcode" target="_blank">
	<img src="/files/Reklama/fg_banner_gameofcode_728x90.jpg" width="728" height="90" style="margin-bottom: 2em">
</a>
<nav class="menu">
	<button class="menu__btn" aria-haspopup="true" aria-expanded="false" tabindex="0">
		<span class="menu__btn-title" tabindex="-1">{{ T "menu_label" }}</span>
	</button>
	<ul class="menu__list">
		<li class="menu__item"><a class="menu__link" href="https://kafemlejnek.tv" target="_blank">Kafemlejnek.TV</a></li>
		<li class="menu__item"><a class="menu__link" href="https://www.jopenspace.cz" target="_blank">jOpenSpace</a></li>
		<li class="menu__item"><a class="menu__link" href="https://www.fg.cz" target="_blank">FG Forrest</a></li>
		<li class="menu__item"><a class="menu__link" href="/about/">O autorovi</a></li>
	</ul>
</nav>